body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

div.Content a{
    text-decoration: none;
    color: black;
}

div.Container{
    width: 100%;
    justify-content: center;
}

h1.mainPageHeader{
    font-size: 70px;
    text-align: center;
    padding: 40px 15px 10px 15px;
    margin: 10px;
}

div.mainContainer{
    margin: 0px;
    padding: 0px;
}

div.Content{
    margin: 0px;
    padding: 0px;
    height: 30%;
    width: 50%;
}

div.TitleContainer:hover{
    transition: .3s all;
    background: #ffffff;
}

div.TitleContainer{
    margin: 20px;
    height: 200px;
    border-radius: 80px;
    border: 2px solid black;
    background-color: #dcdbdb;
}

h3.MainPageTitle{
    font-size: 55px;
    text-align: center;
    padding: 15px 10px;
    
}
 /* Form and Results */

div.form_container{
    margin:0%;
    padding: 30px 0px;
    width: 30%;
}

div.form_entry{
    display: flex;
    margin: 0%;
}

form label{
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
    padding-top:10px;
}

form input.formInput{
    width: 50%;
    font-size:18px;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 2px 5px 10px 0px;
    color: (0,0,0);
}

div.form_container p{
    margin: 0%;
    padding-top: 5px;
    font-size: 24px;
    opacity: 60%;
}

form input.appBtn{
    padding: 10px;
    font-size: 16px;
    color: #dcdbdb;
    border-radius: 5px;
    float: left;
    background: #000000;
}

form input.appBtn.hover{
    transition: .3s all;
    background: #ffffff;
}

div.result{
    margin: 0%;
    padding: 10px 0px;
    width: 40%;
}

div.result p{
    font-size: 20px;
}

div.formula p.text{
    text-indent: 30px;
}

div.result h3{
    font-size: 28px;
    text-align: center;
}

div.row {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0px;
    padding: 0px;
}

 /* Top Nav */
div.topNavContainer {
    text-align:center;
    height: 60px;
}

ul.topNav{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

ul.topNav li.liMain{
    padding: 0px;
    margin: 0px;
    border: #000000 solid 2px;
    width: 25%;
    background-color: #000000;
}

ul.topNav li.liMain a{
    text-decoration: none;
    display: block;
    padding: 0px;
    font-size: 24px;
    color: #ffffff;
    line-height: 55px;
}

ul.topNav li.liMain a:hover{
    transition: .3s;
    color: #000000;
}

ul.topNav li:hover{
    background: #ffffff;
    transition: .3s all;
    transition-delay: .3;
}