<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>In Water with Latent Heat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/fdb8866bb6.js" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async 
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
    <div class="mainContainer">
        {% include 'partials/top_nav.html' %}
        <div class="row">
            <div class="form_container">
                <form action="" method="POST" class="IWForm">
                    {{form.hidden_tag()}}
                    {{form.m_water.label(class_="label")}}<div class="form_entry">{{form.m_water(class_="formInput")}}<p>g</p></div>
                    {{form.t_water.label(class_="label")}}<div class="form_entry">{{form.t_water(class_="formInput")}}<p>&deg;C</p></div>
                    {{form.m_object.label(class_="label")}}<div class="form_entry">{{form.m_object(class_="formInput")}}<p>g</p></div>
                    {{form.c_object.label(class_="label")}}<div class="form_entry">{{form.c_object(class_="formInput")}}<p>J/(g&deg;C)</p></div>
                    {{form.t_object.label(class_="label")}}<div class="form_entry">{{form.t_object(class_="formInput")}}<p>&deg;C</p></div>
                    {{form.submit(class_="appBtn")}}
                </form>
            </div>
            <div class="result">
                <h3>Result</h3>
                <div class="formula">
                    <p class="text">Assuming energy is conserved and we reach boiling point, we can figure out the mass and temperature of water lost to phase change.</p>
                    <p><strong>Principle:</strong> Latent Heat</p>
                    <p><strong>Formula: </strong>formula</p>
                    <br>
                    <p><strong>Solving:</strong></p>
                    {% if result is number %}
                        <div id="has-result" data-value="true">
                            <p>{{result}}&deg;C</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>